html,body{
    font-family: 'Poppins', helvetica, arial, sans-serif;
    min-height: 100vh;
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: hidden;
}

.como-funciona-step:first-of-type{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.como-funciona-step:last-of-type{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 4px solid #32325d;

}

.como-funciona-step{
    max-width: 600px;
    margin: auto;
    border: 4px solid #32325d;
    justify-content: center;
    align-items: center;
    border-bottom: 0;
    
}

.como-funciona{
    margin-bottom: 100px;
}

.como-funciona-step .title{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.como-funciona-fondo{
    background-size: auto 80%;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
}

h1 {
    font-weight: 400;
    width: 100%;
    color: #ec682d;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}
h1 span {
    font-weight: 700;
}

.pack-title{
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    color: #ec682d;
    font-size: 16px;
}

.pack-title u{
    color: white;
    background: #ec682d;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
}

.loading-dog{
    font-weight: 700;
    text-align: center;
    color: #ec682d;
    font-size: 18px;
}

.total-price{
    font-weight: 700;
    text-align: center;
    width: 100%;
    color: #3d6afd;
    font-size: 18px;
}

.pack-name{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.pack-price{
    font-weight: 700;
    font-size: 14px;
}

h1 img{
    width: 20px;
    margin-right: 5px;
    margin-top: -2px;
    
}


h3 {
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    color: #ec682d;
}

.breadcrumb{
    display: flex;
    
}



.breadcrumb .step{
    border: 1px solid #ec682d;
    flex: 1 1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-right: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: white;
}

.breadcrumb .step.complete{
    background: #ec682d;
    color: white;
}

.breadcrumb .step:last-of-type{
    border-right: 1px solid #ec682d;
}


.add-other{
    margin-bottom: 50px;
}

.action-buttons{
    padding-top: 30px;
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;

}

.action-buttons .btn-primary{
    margin-left: auto;
    margin-right: 0;
}

.dropdown{
    display: block;
}

.dropdown button{
    display: block;
    width: 100%;
    background: white;
    font-weight: normal;
    color: #827f7f;
}


.alert{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color: red !important;
    line-height: 12px;
}

.alert i{
    font-size: 20px;
    position: relative;
    top: 5px;
}

.delete{
    position: absolute;
    top: -1px;
    right: -1px;
    border: 1px solid #ccc;
}
.form-control-alternative{
    box-shadow: none;
}
.text-block{
    box-shadow: none;
}
.text-block:last-child{
    border-bottom: 0;
}
.beneficios img.img-benefit-1{
    width: 90px;
    position: relative;
    top: 10px;
}
.beneficios img.img-benefit-2{
    width: 80px;
    position: relative;
    top: 5px
}
.beneficios img.img-benefit-3{
    width: 90px;
    position: relative;
    top: 5px;
}

.beneficios .icon-container{
    height: 100px;
}

.box-step .text-block button{
    background: #32325d;
    color: white
}

.box-payment-step p{
    margin-bottom: 90px;
}

.box-step .text-block button.btn-outline-primary{
    border-color: #32325d;
    color: #32325d;
    background: white;
}

.box-step{
    position: relative;
    max-width: 640px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    
    padding-bottom: 0;
    padding-top: 40px;

    text-align: left;

    border: 1px solid #ccc;
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 3px;
}
.box-step.no-border{
    border: 0;
    padding: 0;
}
.box-step label{
    margin-right: 15px;
    margin-top: 15px;
}

.pet-icon{
    width: 50px;
    margin: 10px;
    
}

.pet-selector{
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px;
}

.pet-selector.active{
    color: #3d6afd;
    cursor: default;
}

.signup{
    padding-top: 140px;
    padding-bottom: 100px;
}

.semi-transparent{
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.5;
}

.start-now{
    background-position: center center;
    background-size: auto 560px;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 100px;
}

.start-now button{
    margin-top: 240px;
    margin-bottom: 150px;
}

.box-step-2{
    padding-top: 50px;
}

.delivery-only{
    background: #98a4ab;
    padding: 10px;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2px;
    color: #ffffff;
}

.navbar-toggler{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid #ec682d;
}

.navbar-toggler img{
    margin-left: -3px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
}

.mobile-logo{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}


.nav-mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 9999;
    text-align: center;
    font-weight: 700;
    font-family: Poppins,sans-serif;
    color: #32325d;
}

.nav-mobile .nav-item{
    list-style: none;
    margin-top: 15px;
}

.nav-mobile .nav-item a{
    color: #32325d;
    
}



.menu-mobile{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #e2e2e2;
    right: 10px;
    top: -19px;
    border-radius: 5px;
    padding-top: 4px;
    display: none;
    font-family: Poppins,sans-serif;
}

section{
    overflow-x: hidden;
}

.menu-mobile span{
    width: 23px;
    height: 2px;
    border-radius: 2px;
    background: #32325d;
    display: block;
    margin-left: 8px;
    margin-top: 6px;;
}

.item-title{
    text-transform: capitalize;
}

.category-summary{
    font-size: 11px;
    color: gray;
    text-transform: uppercase;
}

.como-funciona-step .number{
    color: #e83e8c;
}

.como-funciona-step p{
    line-height: 18px;
}


@media (max-width: 640px){
    .como-funciona-fondo{
        background-size: 60% auto !important;
    }
    .como-funciona{
        text-align: center;
    }
    .pack-description{
        overflow: hidden;
    }

    .pack-description .box{
        width: 290px;
        padding: 20px;
    }
    
    .menu-mobile{
        display: block;
    }

    .navbar{
        background: white;
        height: 80px;
        padding-top: 0;
    }

    .hero .btn{
        font-size: 20px;
    }

    .navbar-brand{
        position: fixed;
        top: 20px;
    }

    .breadcrumb{
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        height: 10px;
        height: 5px;
        overflow: hidden;
    }
    .breadcrumb .step{
        height: 10px;
        border: 0;
    }
    .box-step{
        width: 100%;
        max-width: initial;
        margin: 0;
        box-shadow: none;
        border: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
    }
    h3{
        margin-bottom: 10px;
    }
    .action-buttons{
        padding-top: 10px;
        width: 100%;
        padding-bottom: 10px;
        box-shadow: 0px 0px 20px #ccc;
        background: #f7f7f7;
    }
    body{
        padding-bottom: 100px;
    }
    h1{
        text-align: center;
        margin: 0;
        padding-top: 11px;
        padding-bottom: 40px;
    }

    .box-step{
        padding: 0;
        padding-top: 40px;
    }
}
.btn-whatsapp svg{
    width: 50px;
    height: 50px;
    padding: 10px 2px;
    fill: white;
    vertical-align: middle;
}

.btn-whatsapp {
    color: white;
    background-color: #4dc247;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    position: fixed;
    top: auto;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 50px;
    position: fixed;
    height: 50px;
    left: initial !important;
}
button {
    margin-bottom: 10px;
}

.navbar .navbar-nav .nav-link{
    font-size: 16px;
    letter-spacing: 1.5px;
}

.navbar .container{
    min-height: 80px;
}


.navbar .collapse.navbar-collapse{
    justify-content: flex-end;
}

.navbar .navbar-nav{
    align-items: inherit;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
    display: flex;
}
.hero a.btn{
    color: white;
}
.hero .content{
    color: white;
    font-size: 30px;
}

.hero .content p{
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    color: white !important;
}

.hero .content h2{
    color: white !important;
    font-size: 56px;
    line-height: 48px;
    margin-bottom: 42px;
}

a:hover{
    text-decoration: none;
    color: gray;
}

.navbar a{
    font-family: Poppins,sans-serif;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar.white{
    box-shadow: 0 0 1rem rgba(0,0,0,.15)!important;
    background: white;
}
.pack-description .item{
    padding: 0;
    margin: 0;
    text-align: left;
}

.pack-description .item:before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #eeadf7;
    margin-right: 10px;
    display: inline-block;
}

.pack-description .box::after,
.pack-description .box::before{
    content: "";
    display: block;
    border: 2px solid #eeadf7;
    width: 150px;
    position: absolute;
    transform: rotate(0);
    top: -4px;
    left: -4px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.pack-description h3{
    color: #eeadf7 !important;
}

.pack-description .box::before{
    left: auto;
    right: -150px;
    top: -8px;
    transform: rotate(-180deg);
    transform-origin: left bottom;
}

.pack-description .box::after{
    top: -8px;
    left: -153px;
    transform: rotate(180deg);
    transform-origin: right bottom;
}
.pack-description .box.opened::after{
    top: -4px;
    left: -153px;
    transform: rotate(30deg);
    transform-origin: right bottom;
}

.pack-description .box.opened::before{
    transform: rotate(-30deg);
    transform-origin: left bottom;
    top: -3px;
}

.pack-description{
    background: white;
    margin: auto;
    padding-top: 300px;
    padding-bottom: 100px;
    font-size: 20px;
    font-weight: bold;
    background-size: 300px auto;
    transform: scale(0);
    transition: 0.2s all ease-in-out;
}
.pack-description.opened .pack-animation{
    background-image: url(/bg-pack.png);
    animation: bgmve 10s infinite;
    background-repeat: no-repeat;
    background-position: center;
    animation-timing-function: linear;
    height: 300px;
    position: absolute;
    width: 100%;
    top: 0;
    background-size: 320px auto;
}

.pack-description.opened{
    
    transform: scale(1);
}

.pack-description li{
    color: #eeadf7;
}

.pack-description .box{
    border: 4px solid #eeadf7; 
    max-width: 500px;
    margin: auto;
    padding: 40px;
    background: white;
    position: relative
}
.pack-description p{
    font-weight: bold;
}

@keyframes bgmve{
    0% {
        background-position: center 500px;
    }
    100% {
        background-position: center -1500px;
    }
  }

.pack-description h3{
    color: #ec682d;
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 40px;
}

.pack-description ul,.pack-description li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.testimonials{
    margin-top: 50px;
    margin-bottom: 50px;
}
.delivery-zone{
    padding-top: 150px;
    margin-bottom: 100px;

}
p{
    font-family: "DM Sans";
    color: rgb(0, 47, 58);
}
.map{
    height: 60vh;
    position: relative;
}
.summary{
    margin-top: 95px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 120px;
}
.summary-empty{
    min-height: 270px;
}
.progress{
    position: fixed;
    left: 0;
    width: 100%;
    top: 80px;
    height: 10px;
}

.btn-primary{
    background: rgb(238,173,247);
    background: linear-gradient(45deg, rgba(238,173,247,1) 0%, rgba(236,104,45,1) 100%);
    border: 0;
}
.comming p{line-height: 15px;}
.comming .brand{
    
    text-align: center;
    margin-bottom: 250px;
    position: relative;
    z-index: 99;
}
.comming::before{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    
}
.comming::before{
    animation: float 6s ease-in-out infinite;
    position: fixed;
    background-size: auto 500px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(/start_2.jpg);
    width: 100vw;
    height: 100vh;
}

.comming{
    width: 100vw;
    display: flex;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    
}

#newsletter-form button{
    height: 40px;
    background: black;
    content: "enviar";
    width: 60px;
}

.icon-circle-social{
    background: #2c3e50;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle-social svg{
    width: 20px;
    height: 20px;
}

.light-footer .card{
    width: 34px;
    display: inline-block;
    margin-right: 5px;
}
.light-footer h3{
    margin-bottom: 80px;
}

.light-footer{
    margin-top: 50px;
    border-top: 1px solid #eeadf7;
    padding-top: 50px;
    padding-bottom: 50px;
}

#map-container{
    height: 400px;
}

header .nav-link a.btn{ color: white !important; }
header .white .nav-link a,
header .white .navbar-brand{color: #32325d;}

header .nav-link a{color: white;}
header .navbar-brand{color: #32325d;}

header .navbar-brand img{position: relative; top: -3px;}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
