html,body{
    font-family: 'Poppins', helvetica, arial, sans-serif;
    background: url(/curve.svg) center;
    min-height: 100vh;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

h1 {
    font-weight: 400;
    width: 100%;
    color: #3d6afd;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
}
h1 span {
    font-weight: 700;
}

h1 img{
    width: 20px;
    margin-right: 5px;
    margin-top: -2px;
}


h3 {
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    color: #3d6afd;
}

.breadcrumb{
    display: flex;
    background: transparent;
}

.breadcrumb .step{
    border: 1px solid #3d6afd;
    flex: 1 1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-right: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.breadcrumb .step.complete{
    background: #3d6afd;
    color: white;
}

.breadcrumb .step:last-of-type{
    border-right: 1px solid #3d6afd;
}

.add-other{
    margin-bottom: 50px;
}

.action-buttons{
    padding-top: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}


.box-step{
    max-width: 640px;
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid #d8d8f5;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    box-shadow: 6px 0px 17px #ccc;
    border-radius: 3px;
    text-align: left;
}

.pet-input label{
    margin-right: 15px;
    margin-top: 15px;
}

.pet-icon{
    width: 50px;
    margin: 10px;
    
}

.pet-selector{
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px;
}

.pet-selector.active{
    color: #3d6afd;
    cursor: default;
}

.semi-transparent{
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.5;
}

.start-now{
    background-image: url(/start1.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.start-now button{
    margin-top: 150px;
    margin-bottom: 150px;
}

.box-step-2{
    padding-top: 50px;
}